body {
    font-family: "Lato", sans-serif;
    background-color: #F7F7F7;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
}

* {
    box-sizing: border-box;
    border-radius: 15px;
}

html {
    zoom: 82%;
}

.grid {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    grid-gap: 15px;
    padding-bottom: 0px;
    justify-content: center;
    

    @media (min-width:1048px) {
        grid-template-columns: 2fr 1fr;
    }

    @media (min-width:960px) {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        margin-bottom: 10px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
        min-width: 537px;
        margin-inline-end: 75px;
    }

    .table {
        min-height: auto;
    }
}

.header {
    background-color: #ffeaaf;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px;
    min-width: 537px;
}

.header-title {
    color: #525252;
    font-size: 31.5px;
    text-align: center;
    margin: 0 auto;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 9px;
    padding-left: 75px;
    margin-top: 15px;
}

.panelButton {
    
    margin-top: 35px;
    margin-right: 15px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    padding: 2px 16px;
    height: 45px;
    min-width: 96px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: rgb(148, 165, 202);
    transition: background-color .17s ease,color .17s ease;
    text-align:center;
    vertical-align: middle;
    align-items: center;
}

.panelButton:hover {
    background-color: rgb(102, 114, 139);
}
 


